body{
    background-image:linear-gradient(to right, rgb(112, 53, 53), rgb(136, 118, 85));
}
/* h2{
    float:left;
    color:white;
    background-color:black;
    width:20%;
} */
table{
    /* border:1px solid white; */
    /* background-color:rgb(19, 19, 19); */
    padding:5px 12px;
    align-items: center;
    text-align:center;
    color:white;
    width:80%;
    float:right;
}
td:hover{
       background-color:rgb(61, 62, 62);
       color:black;
}
a{
    color:white;
    text-decoration: none;
    justify-content: space-around;
}
a:hover{
    background-color:rgb(61, 62, 62);
       color:black;
}